# The following is an example mapping for updating extensions. The left column is a dot separated API path. The right column is the CSV header. Note the API path is case sensative. Make a copy of this file and remove this comment; adjust as needed.
# Note that NewMapping is required to have a Number mapping. That mapping will be used when determining updates. If you want to disable all updates, make this mapping an empty {}
{
	"FirstName":  "FirstName",
	"LastName":  "LastName",
	"Email":  "Email",
	"OutboundCallerId":  "OutboundCallerId",
    "SendEmailMissedCalls":  "SendEmailMissedCalls",
    "Disabled":  "Disabled",
	"MyPhoneStartUpScreen":  "MyPhoneStartUpScreen",
    "AllowToUseHotdesking":  "AllowToUseHotdesking",
    "MyPhoneUseIn3cxPhoneMode":  "MyPhoneUseIn3cxPhoneMode"
}